<h2 class="text-center"> All our Flats </h2>
  <div class = "container">
    <div class="container" id="home-flats">
      <h4 class="text-center">We found x flats out of <%= @flats.length %> on our website.</h4>
      <div class="row">
        <% @flats.each do |flat| %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="flat-card">
              <div>
              <%= image_tag("https://source.unsplash.com/random/#{rand(1390..1400)}*1200", class: "flat-img")%>
              </div>
              <div class="flat-card-content">
                <h4><%= link_to flat.name, flat %></h4>
                <div class="card-category"> <%= flat.address %> </div>
                <p> <i class="fas fa-euro"></i> <%= flat.price_per_night %> </li></p>
                <p> <i class="fas fa-users"></i> <%= flat.number_of_guests %> </p>
              </div>
              <div class="flat-card-actions">
                <%= link_to "More info", flat_path(flat) %>
                <%= link_to "Edit", edit_flat_path(flat), class: "ml-3 text-warning" %>
                <%= link_to "Remove", flat_path(flat), method: "DELETE", class: "ml-3 text-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<!-- <h3> <%= link_to "Create a new flat", new_flat_path %></h3> -->
